@media only screen and (max-width: 1700px) {
	.container-xs{
		width: 40%;
	}
}

@media only screen and (max-width: 1400px) {
	.container-sm{
		width: 60%;
	}
	
	.container-xs{
		width: 50%;
	}
}

@media only screen and (max-width: 1100px) {
	.container-sm{
		width: 70%;
	}
	.container-xs{
		width: 60%;
	}
}

@media only screen and (max-width: 1024px) {
	.container-sm{
		width: 85%;
	}
}


@media only screen and (max-width: 768px) {
	.container-xs{
		width: 70%;
	}
	
	div#fp-nav.right{
		display: block;
	}
	
	.font-size-2em{
		font-size: 1em;
	}
	
	.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next{
		display: none !important;
	}
	
}

@media only screen and (max-width: 700px) {
	.container-xs{
		width: 85%;
	}
	
	.box{
		width:100%;
	}
	
	.font-size-2em{
		width: 100%;
	}
	
	.button{
		position: absolute;
		right: 0;
		top: 0;
	}
}

@media only screen and (max-width: 400px) {
	a.nav-link{
		width: 100%;
	}
	
	#collapsedNavbar{
		margin-right: 0.5em;
		padding: 0;
	}
}

@media only screen and (max-width: 320px) {
	h1{
		font-size: 1.5em;
	}
	
	.font-size-1p5em{
		font-size: 1em;
	}
	
	.btn-primary{
		font-size: 0.8em;
	}
}