@media only screen and (max-width: 1700px) {
	.container-xs{
		width: 40%;
	}
}

@media only screen and (max-width: 1400px) {
	.container-sm{
		width: 60%;
	}
	
	.container-xs{
		width: 50%;
	}
}

@media only screen and (max-width: 1100px) {
	.container-sm{
		width: 70%;
	}
	.container-xs{
		width: 60%;
	}
}

@media only screen and (max-width: 1024px) {
	.container-sm{
		width: 85%;
	}
}


@media only screen and (max-width: 768px) {
	.container-xs{
		width: 70%;
	}
}

@media only screen and (max-width: 700px) {
	.container-xs{
		width: 85%;
	}
	
	.box{
		width:100%;
	}
	
	.font-size-2em{
		width: 100%;
	}
	
	.button{
		position: absolute;
		right: 0;
		top: 0;
	}
}