body{
	background-color: #000000;
}


/*----navigation----*/
div#collapsedNavbar{
	width: 150px;
}

.navbar{
	background-color: transparent !important;
	color: black;
}

.navbar-toggler{
	border-style: none;
}

.navbar-toggler:focus,.navbar-toggler:active {
   outline: none !important;
   box-shadow: none;
}

ul.navbar-nav{
	margin: 0 0 0 0.6em;
}

a.nav-link{
	background-color: #1CA2F7;
	width: 150px;
	margin: 0.2em 0 0.2em 0;
	padding: 1em;
	text-align: center; 
	border: 2px solid white;
}


.container-hamburger {
    display: inline-block;
    cursor: pointer;
	margin: 0.5em 0 0 0.5em;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #1CA2F7;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -7px);
    transform: rotate(45deg) translate(-9px, -7px);
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
	background-color: white;
}

.underlined{
	text-decoration: underline;
}

.link{
	color: white;
	text-decoration: underline;
}

.link:hover{
	color:lightgray;
}

/*----sections----*/
.section{
	text-align: center;
	color: white;
}

div#fp-nav.right{
	display: none;
}

/*----colors----*/
.font-color{
	color: #1CA2F7;
}

.red{
	color: red;
}

/*----font-sizes----*/
.launch-font{
	font-size: 1.5em;
}

.font-size-2em{
	font-size: 2em;
	display: inline-block;
	margin-bottom: 0;
}

.font-size-1p5em{
	font-size: 1.5em;
}

/*----containers----*/
.container-md{
	width: 70%;
	margin: auto;
}

.container-sm{
	width: 45%;
	margin: auto;
}

.container-xs{
	width: 30%;
	margin: auto;
}


/*----borders----*/
.border{
	border: 4px solid blue;
	max-height: 100%;
	overflow: hidden;
	margin-bottom: 15px;
	background-color: rgba(0,0,0,0.5);
}


/*----buttons----*/
.btn-primary{
	width: 100%;
	background-color: transparent;
	border: 3px solid white;
	margin-bottom: 1em;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
	background-color: white;
	border: 3px solid black;
	color: black;
}


/*----google-maps----*/
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 60%;
    padding-top: 30px;
    position: relative;
}


/*----misc----*/
.box{
	height: 100px;
	width: 100px;
	padding: 0.9em 0 1em 0;
	background-color: #1CA2F7;
	float: left;
}

.box-2{
	width: 80%;
	margin: auto;
}

.box-3{
	width: 300px;
}

.info-expanded{
	display: none;
	width: 70%;
	margin: 1em auto 1em auto;
}

/*----plus-to-x----*/
.button {
 	position: relative;
  	width: 30px;
  	height: 30px;
	display: inline-block;
	float: right;
	margin: 2em;
}

.button:before, .button:after {
	content: "";
	position: absolute;
	background-color: white;
	transition: transform 0.25s ease-out;
}

.button:before {
	top: 0;
	left: 50%;
	width: 4px;
	height: 100%;
	margin-left: -2px;
}
.button:after {
	top: 50%;
	left: 0;
	width: 100%;
	height: 4px;
	margin-top: -2px;
}
.button:hover {
	cursor: pointer;
}

.button.rotate:before, .button.rotate:after{
	transform: rotate(45deg);
	transition-duration: 0.2s;
}

ol{
	display: inline-block;
}

/*----inline-validation----*/
.inlineValidation{
	display: none;
	color: red;
}


/*----images----*/
#home{
	background-image: url(../images/photos/galaxy.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#spacex{
	background-image: url(../images/photos/galaxy.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#launch{
	background-image: url(../images/photos/galaxy.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#iss{
	background-image: url(../images/photos/galaxy.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#contact{
	background-image: url(../images/photos/galaxy.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}